#wpas-custom-header-link{
  margin-left: 0;
  margin-top: 5px;
  display: inline-block;
}
#slideApp{
  .slide_layer{
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  .add_layer_panel{
    margin-bottom: 10px;
  }
  .slide-preview-title{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    height: 20px;
    border-bottom: 1px solid #eeeeee;
  }
  #slide-preview{
    border-bottom: 1px solid #eeeeee;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
    .anim-slider {
      height: 100%;
      li{
        height: 100%;
      }
    }
  }
}

#layer-template {
  .remove_layer{
    text-align: right;
    cursor: pointer;
  }
}
.slider-metabox{
  .button{
    margin-bottom: 10px;
  }
}
.slide_layer {
  .remove_layer{
    margin-bottom: 10px;
  }
}